extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Megan Navarro

        p.lead.text-light
          | Writer and Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Talented writer and web developer who contributes to team success through hard work, attention to detail, and excellent communication skills. Trained in JavaScript, HTML, and CSS with unique experience writing, editing and managing content. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li Object-Oriented Programming
          li Node.js
          li JQuery 
          li HTML
          li CSS
          li Microsoft Office
          li Adobe PhotoShop
          li GIMP
        h6 Contact Info

        ul
          li Please email me for additional information
          li megan.cole87@gmail.com

        a.button.expanded(href='www.linkedin.com/in/megan-navarro-20201a') LinkedIn
        a.button.expanded(href='https://github.com/megnavarro') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  